/* цвет основного текста #212121*/

/* вторичний цвет текста color: #757575; */

/* белый color: #FFFFFF; */

/* акцент color: #2196F3; */

/* вторичний цвет фона background: #F5F4FA; */

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --acccent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --primary-white-color: #ffffff;
  --primary-bt-color: #f5f4fa;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.list a:hover,
.list a:focus {
  color: var(--acccent-color);
}
/* Логотип Шапка */
.web {
  color: var(--acccent-color);
}

.logo {
  color: var(--primary-text-color);
}

/* Логотип Футер */

.web-footer {
  color: var(--acccent-color);
}

.studio-footer {
  color: var(--primary-white-color);
}

/* site nav */

.site-nav a {
  color: var(--primary-text-color);
}

.site-nav .link.curent {
  color: var(--acccent-color);
}

.auth-nav a {
  color: var(--title-text-color);
}

/* Section */

.section {
  color: var(--primary-text-color);
}

/* Team */

.team-list .title {
  color: var(--primary-text-color);
}

/* Button */

.button {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--acccent-color);
}

.button.secondary {
  color: var(--primary-text-color);
  background-color: var(--primary-bt-color);
}
